@import '../../styles/variables';

.registerContainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include flexCenter(row);
    background-color: $loginBack;


    .registerWrapper{
        display: flex;
        width: 80%;
        height: auto;

        .registerLeft{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            background-color: $loginBack;
        
            .registerTittle{
                font-size: 50px;
                margin-bottom: 20px;
                color: $primary-color;
            }

            .registerDescription{
                font-size: 22px;
            }
        }

        .registerRight{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            padding: 20px;
            border-radius: 5px;

            .createAccountTittle{
                font-size: 25px;
                margin: 10px 0;
                color: $primary-color;
            }

            .registerRightInput{
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: 1px solid grey;
                padding-left: 20px;
                font-size: 16px;
                margin-bottom: 5px;
                &:focus{
                    outline: none;
                }
            }
            
            .errorMessage{
                color: red;
                font-size: 14px;
                margin: 5px auto;
            }

            .registerButton{
                width: 100%;
                height: 50px;
                border-radius: 5px;
                font-size: 18px;
                border: none;
                font-weight: bold;
                color: white;
                background-color: $primary-color;
                cursor: pointer;
                text-align: center;
                margin-bottom: 5px;

                &:focus{
                    outline: none;
                }
            }

            .registerForgot{
                font-size: 14px;

            }

            .registerRegisterButton{
                @extend .registerButton;
                background-color: rgb(92, 223, 92);
            }
        }
    }

}

@media only screen and (max-width: 770px) {

    .registerContainer{
        height: 100vh;
        padding-bottom: 10%;
        
        .registerWrapper{
            width: 95%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;   
            
            .registerLeft{
                width: 90%;
            
                .registerTittle{
                    font-size: 45px;
                    margin-bottom: 20px;
                    color: $primary-color;
                }
    
                .registerDescription{
                    font-size: 20px;
                }
            }

            .registerRight{
                width: 70%;
            
                .createAccountTittle{
                    font-size: 25px;
                    margin-bottom: 1.5rem;
                } 
            }
        }
    }
}
