
.sidebarFriendItem{

    display: flex;
    align-items: center;
    margin-bottom: 15px;

   .sidebarFriendImg{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50px;
    } 

    .sidebarFriendName{
        margin-left: 15px;
    }
}