@import '../../styles/variables';

.loginContainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include flexCenter(row);
    background-color: $loginBack;


    .loginWrapper{
        display: flex;
        width: 80%;
        height: 60%;

        .loginLeft{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            background-color: $loginBack;
        
            .loginTittle{
                font-size: 50px;
                margin-bottom: 20px;
                color: $primary-color;
            }

            .loginDescription{
                font-size: 22px;
                
            }
        }

        .loginRight{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            padding: 20px;
            border-radius: 5px;

            .loginAccountTittle{
                font-size: 25px;
                margin-bottom: 1.5rem;
                color: $primary-color;
            } 

            .loginRightInput{
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: 1px solid grey;
                padding-left: 20px;
                font-size: 16px;
                &:focus{
                    outline: none;
                }
            }

            .errorMessage{
                color: red;
                margin: 10px auto;
            }
            
            .loginButton{
                width: 100%;
                height: 50px;
                border-radius: 5px;
                font-size: 18px;
                border: none;
                font-weight: bold;
                color: white;
                background-color: $primary-color;
                cursor: pointer;
                text-align: center;
                
                &:focus{
                    outline: none;
                }

                &:disabled{
                    cursor: not-allowed;
                }

            }

            .loginForgot{
                font-size: 14px;

            }

            .loginRegisterButton{
                @extend .loginButton;
                background-color: rgb(92, 223, 92);
            }
        }
    }

}

@media only screen and (max-width: 770px) {
    .loginContainer{
        .loginWrapper{
            width: 95%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .loginLeft{
                width: 90%;
                
                .loginTittle{
                    font-size: 45px;
                }
    
                .loginDescription{
                    font-size: 20px;
                }
            }

            .loginRight{
                width: 75%;
                
                .loginRightInput{
                    margin-bottom: 10px;
                }
                .loginButton{
                    margin-bottom: 10px;
                }
    
                .loginForgot{
                    font-size: 16px;
                    margin-bottom: 10px;
                }

            }
        }
    }
}