@import '../../styles/variables';



.topbarContainer{
    width: 100%;
    height: 50px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    color: white;

    .leftTopbar{
        flex: 3;
        padding-left: 30px;

        .logo{
            font-size: 22px;
            cursor: pointer;
        }
    }

    .centerTopbar{
        flex: 5;

        .searchContainer{
            width: 80%;
            display: flex;
            align-items: center;
            position: relative;

           .searchInput{
                width: 100%;
                height: 32px;
                border-radius: 30px;
                border: none;  
                padding-left: 30px;          

                &:focus{
                    outline: none
                }

            }
            
            .searchIcon{
                position: absolute;
                left: 10px;
                color: $blackText;
            }
        }
        

       
    }

    .rightTopbar{
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .topbarLink{
            margin-right: 15px;
            cursor: pointer;
        }

        .topbarIcons{
            display: flex;
            align-items: center;

            .topbarIconItem{
                display: flex;
                align-items: center;
                margin-right: 15px;
                cursor: pointer;
                position: relative;

                .notificacion{
                    @include flexCenter(row);
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    font-size: 12px;
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: -10px;
                }
            }
        }

        .topbarImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 750px){
    .topbarContainer{
        padding: 0 1rem;

        .leftTopbar{
            flex: 3;
        }
        
        .centerTopbar{
            flex: 4;
    
            .searchContainer{
                display: none;
            }
        }
    
        .rightTopbar{
            flex: 5;
    
            .topbarLink{
               
            }
        }
    }
}