
.feedContainer{
    flex: 6;
    padding: 20px 25px;
}


@media only screen and (max-width: 1000px){
    .feedContainer{
        width: 60%;
        position: absolute;
        left: 0;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 750px){
    .feedContainer{
        width: 100%;
        position: absolute;
        left: 0;
    }
}