@import '../../styles/variables';

.profile{
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: hidden;

    .rightProfile{
        display: flex;
        flex-direction: column;
        flex: 9.5;

        .rightProfileTop{
            position: relative;

            .coverImg{
                width: 100%;
                max-height: 300px;
                object-fit: cover;
            }   

            .userProfilePicture{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border: 2px solid white;
                border-radius: 50%;
                z-index: 20;
                position: absolute;
                bottom: 100px;
                right: 0;
                left: 0;
                margin: auto;
            }

            .profileUserInfo{
                width: 100%;
                min-height: 140px;
                max-height: 150px;
                @include flexCenter(column);

                .profileUserInfoName{
                    font-size: 24px;
                    margin-top: 20px;
                }

                .profileUserInfoDescription{
                    margin-top: 10px; 
                    color: rgb(41, 41, 41);  
                }

            }
        }


        .rightProfileBottom{
            display: flex;
        }
    }
}


@media only screen and (max-width: 1000px){
    .profile{
        position: relative;

        .rightProfile{
            width: 100%;
            position: absolute;
            left: 0;
    
            .rightProfileTop{
                width: 100%;
                .userImages{
                    position: relative;
                    width: 100%;
                    max-height: 300px;
                    display: flex;
                    .userProfilePicture{
                        bottom: -40px;
                    }
                }
            
            }

        }
    }
}
