@import '../../styles/variables';

.shareContainer{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: $shadow;
    margin-bottom: 25px;

    .shareWrapper{
        width: 100%;
        height: 100%;

        .shareTop{

            display: flex;
            align-items: center;
            height: 50%;
            margin-bottom: 5px;

            .shareImg{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .shareInput{
                margin-left: 10px;
                padding-left: 10px;
                width: 100%;
                border: none;
                height: 50px;
                font-size: 16px;

                &:focus{
                    outline: none;
                }
            }
        }

        .shareBottom{
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .shareOptions{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;

                .shareOptionItem{
                    margin-right: 20px;
                    display: flex;
                    align-items: center;

                    .shareOptionIcon{
                        font-size: 25px;
                        margin-right: 5px;
                    }

                    .photo{
                        color: rgb(224, 71, 10);
                    }
                    .tag{
                        color: blue;
                    }
                    .location{
                        color: rgb(74, 170, 55);
                    }
                    .emoji{
                        color: rgb(216, 216, 22);
                    }
                }

                
            }
            .shareButton{
                padding: 10px;
                border: none;
                background-color: green;
                border-radius: 5px;
                color: white;
                cursor: pointer;
            }
            
        } 

    }


}

@media only screen and (max-width: 1000px){
    .shareContainer{
        width: 100%;
        height: 150px;

        .shareWrapper{
            overflow: hidden;
    
            .shareTop{
                .shareImg{
                    width: 45px;
                    height: 45px;
                }
    
                .shareInput{
                    font-size: 16px;
                }
            }
    
            .shareBottom{
    
                .shareOptions{
    
                    .shareOptionItem{
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
    
                        .shareOptionIcon{
                            font-size: 20px;
                        }
    
                        .shareOptionText{
                            display: none;
                        }
                    }
    
                    
                }
                
            } 
    
        }
    }
    
}